<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Belajar Vue</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name" size="40">
        <button v-if="!isEdit" v-on:click="addUser">{{ button_text }}</button>
        <button v-if="isEdit" v-on:click="editUser(index)" >{{ button_text }}</button>
        <ul>
            <li v-for="(user, index) in users" style="margin-bottom: 4px" v-bind:key="user.name">
                {{ user.name }}
                <button v-on:click="editUser(index)">Edit</button>
                <button v-on:click="removeUser(index)">Delete</button>
            </li>
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>