<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stack Overflow with VueJs</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="container my-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="newComment">Silahkan isi komentar</label>
              <textarea
                class="form-control"
                rows="3"
                v-model="newComment"
                v-on:keyup.enter="addComment"
              ></textarea>
              <!-- <button class="mt-2 btn btn-primary btn-sm" v-on:click="greet">
                Test Event
              </button> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-md-12">
              <ul>
                <li class="mb-4" v-for="(comment, index) in listComments">
                  {{ comment.body }}

                  <button
                    class="btn btn-outline-primary btn-sm"
                    @click="voteLike(index)"
                  >
                    +
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm"
                    @click="voteDisLike(index)"
                  >
                    -
                  </button>

                  <br />
                  <span class="badge badge-success"
                    >Date : {{ comment.date }}</span
                  >
                  <span class="badge badge-warning"
                    >Score : {{ comment.score }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
